<!DOCTYPE html>
<html>
    
<head>
    {% include 'includes/header.html' %}

    {% block head %}
    {% endblock %}
</head>

<body>
    {% block body %}
    {% endblock %}

    {% include 'includes/footer.html' %}

    {% block footer %}
    {% endblock %}
</body>

</html>