<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>MAI Robotics RCP</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" href="/static/img/favicon.ico">
<link rel="stylesheet" type="text/css" media="screen" href="/static/vendor/bootstrap/css/bootstrap.css" />
<link rel="stylesheet" type="text/css" media="screen" href="/static/vendor/bootstrap/css/bootstrap-toggle.css" />